@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.footer-section{
  display: flex;
  align-items: center;
  min-height: 100px;
  width: 100%;
  background-color: black;
  color: white;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  position: relative;
  bottom: 0px;
}

.footer-message{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  gap: 100px;
}


.linkedInIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 300px;
}

a{
  display: flex;
  justify-content:center;
  color: white;

  width: 300px;
}

p{
  display: flex;
  justify-content: center;
  font-size: 30px;
  width: 300px;
}


@media screen and (max-width: 768px) {
  .footer-section {
    font-size: 18px;
    padding: 15px;
  }

  .footer-message {
    gap: 30px;
  }

  .linkedInIcon {
    width: 150px;
  }

  p {
    font-size: 18px;
  }
}

/* For Mobile Phones */
@media screen and (max-width: 480px) {
  .footer-section {
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }

  .footer-message {
    flex-direction: column;
    gap: 15px;
  }

  .linkedInIcon {
    width: 100%;
  }

  a {
    width: 100%;
    font-size: 16px;
    margin: 0;
  }

  p {
    font-size: 16px;
    margin: 0;
  }
}