.login-page{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.login-page > button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: auto;
  height: 50px;
  box-shadow: 0px 1px 3px 0px grey;
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: large;
  color: #444;

  border: 2px solid transparent;
  animation: googleBorder 10s infinite linear;
}

@keyframes googleBorder {
  0% { border-color: #4285F4; }  /* Google Blue */
  25% { border-color: #DB4437; } /* Google Red */
  50% { border-color: #F4B400; } /* Google Yellow */
  75% { border-color: #0F9D58; } /* Google Green */
  100% { border-color: #4285F4; } /* Back to Blue */
}


.googleIcon{
  font-size: larger;
}