.mainpage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.noteAndEdit{
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 10px;
  right: 10px;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.newNoteBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100px;
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  border-radius: 5px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  box-shadow: 0px 2px 4px 1px rgb(0, 0, 0, 0.3);
}


.edit-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  position: absolute;
  top: 50px;
  right: 10px;
  width: 200px;
  height: 200px;
  box-shadow: 0px 0px 10px 1px rgb(0, 0, 0, 0.4);
  background-color: rgba(235, 235, 235, 0.8);
  border-radius: 10px;
}

.edit-form input {
  display: flex;
  align-self: center;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  border: none;
  margin-top: 5px;
  font-family: 'Montserrat', sans-serif;
}



.edit-form label{
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}


.editSaveBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100px;
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  border-radius: 5px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  box-shadow: 0px 2px 4px 1px rgb(0, 0, 0, 0.3);

}

.blogSaveBtn:active{
  transform: translateY(1px);
  box-shadow: 0px 0px 0px 0px rgb(0, 0, 0, 0.3);

}


.blogEditIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: none;
  position: absolute;
  right: 10px;
  color: white;
  background-color: black;

}

.blogEditIcon:hover{
  width: 40px;
  height: 40px;
  font-size: 20px;
  border-radius: 20px;
  transition: all 200ms;
}