@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.navbar-section{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  box-shadow: 0 5px 6px -6px black;
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  height: 60px;
  min-height: 60px;
  z-index: 1;

}

.navbar-div{
  display: flex;
  gap: 10px;

}

.navbar-div button {
  padding: 10px 20px;
  margin: 0px 5px;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-div button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}

.navbar-div button.active {
  border-bottom: 2px solid white;
  border-radius: 0px;
}
