.posts-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  width: 50vw;
  height: 90vh;
  margin-top: 10px;
  box-shadow: 0px 0px 10px 1px rgb(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow-y: scroll;
  padding: 10px;
  gap: 70px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: black;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.post-section {
  display: flex;
  align-items: flex-start;
  border: 1px solid black;
  flex-direction: column;
  width: 80%;
  height: 100%;
  word-wrap: break-word;
  box-shadow: 6px 6px 0px 0px rgb(0, 0, 0, 1);
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  position: relative;

}


.postTitle {
  display: flex;
  padding-left: 20px;
  font-size: xx-large;
  font-weight: 500;
}

.postBody {
  display: flex;
  margin-bottom: 10px;
  padding: 20px;
  align-self: center;

}

.postImage {
  display: block; /* Ensures normal image behavior */
  align-self: center;
  max-width: 100%; /* Prevents overflow */
  width: 100%; /* Ensures it scales properly */
  height: auto; /* Keeps aspect ratio */
  border-radius: 10px;
  padding: 5px;
  box-sizing: border-box;
  object-fit: contain; /* Ensures it fits inside */

}


.postDelete {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 20px;
  width: 60px;

  background-color: black;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.postDelete:hover {
  background-color: rgb(255, 0, 0);
}