.fade-enter {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.fade-exit {
  opacity: 0;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms ease-out;
}
