@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.fade-enter-done{
  margin: 0;
}

.transitionGroup{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100%;
  flex-grow: 1;
}

.loggedin{
  display: flex;
  width: 100px;

}

.intro-section{
  display: flex;
  gap: 10px;

}

.fail-section{
  display: flex;
  justify-content: center;
}

.fail{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  background-color:tomato;
  color: black;
  border: 3px solid black;
  height: 50px;
  width: 150px;
  border-radius: 8px;
}
